* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    overflow: hidden;
}


/* =========================
   PÁGINAS COMUNS
   ========================= */

.pagina {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.fundo {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    left: 0;
    top: 0;
    z-index: 1;
}


/* =========================
   PLAYLIST - QR5
   ========================= */

.link-playlist {
    position: absolute;

    left: 3.5%;
    top: 42%;
    width: 93%;
    height: 16%;

    z-index: 10;

}


/* =========================
   VÍDEO - QR6
   ========================= */

.video {
    position: absolute;

    width: 78%;
    max-width: 500px;
    height: auto;

    left: 50%;
    top: 67%;

    transform: translate(-50%, -50%);

    z-index: 5;
}


/* =========================
   PRÊMIOS - QR1 A QR4
   ========================= */

.pagina-premio {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.fundo-premio {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    left: 0;
    top: 0;
    z-index: 1;
}